<div class="nav-wrapper">
  <nav style = "background-color: #f2f2f2;">
    <a style="text-align: center; line-height: 125%; margin: 15px; background: #229c00;  padding: 20px; border-radius: 5px; color: white; font-weight: bold; text-decoration: none; display: inline-block; width: 180px; font-size: 32px;" [routerLink]="['/']" routerLinkActive="active" class="biggerBrain">SikFliks</a><br>
    <button class="btn btn-success" [routerLink]="['/movies']" routerLinkActive="active" style="margin-right: 10px; margin-bottom: 15px;" >Movies</button>
    <button class="btn btn-success" [routerLink]="['/theaters']" routerLinkActive="active" style="margin-left: 10px; margin-bottom: 15px;" >Theaters</button>
  </nav>
</div>

<ng-container *ngIf="state$ | async as state">
  <div *ngIf="state.isLoading" style="position: fixed; background: rgba(51, 51, 51, 0.5); z-index:99999; top:0; bottom:0; left:0; right:0; width: 100%; height: 100%; text-align:center; line-height: 100vh;">
    <div class="spinner-border" style="line-height: 100vh; top:0; bottom:0; left:0; right:0; text-align:center;">
      <div>
      </div>
    </div>
  </div>
</ng-container>



<router-outlet></router-outlet>


