<div class="container">
  <form #userForm="ngForm">
    <div class="form-group">
      <label for="movie">Movie</label>
      <input type="text" class="form-control" id="movie" [(ngModel)]="model.movie" name="movie">
    </div>

    <div class="form-group">
      <label for="radius">Search Radius</label>
      <input type="number" class="form-control" id="radius" required [(ngModel)]="model.radius" name="radius" #radius="ngModel">
      <div [hidden]="radius.valid || radius.pristine" class="alert alert-danger">Radius is required</div>
    </div>

    <button type="submit" class="btn btn-success" [attr.disabled]="hasLocation ? undefined : 'disabled'" (click)="postForm()">Go!</button>
  </form>
</div>
