<ng-container *ngIf="state$ | async as state">
  <table class="table table-striped" *ngIf=state.data>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movie Poster</th>
        <th scope="col">Movie Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Genre</th>
        <th scope="col">IMBD Rating</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of state.data.movies; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td style="width: 140px"><a href="{{result.imdbID}}" ng-click="result.imdbID"><img [src]="result.poster" style="width: 99px"></a></td>
        <td><a [routerLink]="['/showtimes/movies', result.title]" routerLinkActive="active">{{ result.title }}</a></td>
        <td>{{ result.rated }}</td>
        <td style="width: 140px">{{ result.genre | nbsp }}</td>
        <td>{{ result.imdbrating }}</td>
        <td>{{ result.released }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
