<ng-container *ngIf="state$ | async as state">
  <pre> {{ state | json }} </pre>
  <table class="table table-striped" *ngIf=state.data>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movie Theater</th>
        <th scope="col">Address</th>
        <th scope="col">Show Date</th>
        <th scope="col">Show Times</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of state.data.showtimes; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{result.theater}}</td>
          <td>{{result.address}}</td>
          <td>{{result.date}}</td>
          <td>{{result.time}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
