<ng-container *ngIf="state$ | async as state">
  <table class="table table-striped" *ngIf="state.data">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Theater</th>
        <th scope="col">Address</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of state.data.businesses; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td><a [routerLink]="['/showtimes/theaters', result.name]" routerLinkActive="active">{{ result.name }}</a></td>
        <td>{{ result.address }}</td>
        <td>{{ result.rating }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
